.container {
    width: 75%;
    margin: 30px auto;
    padding: 1.25rem 0;
}
.back-link {
    text-decoration: none;
    color: #3699FF;
    font-size: 1.25rem;
}
.person-profile {
    width: calc(30% - 3rem);
    float: left;
    padding: 0 3rem 0 0;
}
.person-image {
    width: 200px;
    height: 190px;
    border-radius: 50%;
    border: 10px solid rgba(50, 50, 72);
}
.person-name {
    font-size: 1.3rem;
    color: #FFF;
    margin-bottom: 0.5rem;
}
.person-homeworld {
    font-size: 1.25rem;
    font-weight: 600;
    color: #8950FC;
    margin: 0 0 2rem;
}
.person-desc p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #565674;
    padding: 10px 0;
    margin: 0;
    border-top: 1px dotted rgb(52, 52, 52);
}
.person-desc b {
    font-size: 1rem;
    font-weight: 500;
    color: #CDCDDE;
}
.person-films > h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.person-films > h2 b {
    font-size: 2rem;
    color: #CDCDDE;
}
.person-films > h2 small {
    font-size: 0.9rem;
    font-weight: 600;
    color: #6D6D80;
}
.person-film-list {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.person-film-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    border: 1px solid #2B2B40;
    background-color: #1E1E2D;
    border-radius: 0.95rem;
    text-decoration: none;
}
.person-film-date {
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    color: #CDCDDE;
    background-color: #323248;
    padding: 0.325rem 0.5rem;
    border-radius: 0.475rem;
}
.person-film-title {
    font-size: 1.05rem;
    font-weight: 500;
    color: #CDCDDE;
    margin: 1.25rem 0 0.5rem 0;
}
.person-film-director, .person-film-producer  {
    font-size: 0.8rem;
    font-weight: 400;
    color: #6D6D80;
    margin: 0;
}
.person-opening-crawl {
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
    margin: 0;

}
.person-opening-crawl-title {
    font-size: 0.8rem;
    font-weight: 400;
    color: #CDCDDE;
   
}